<% title "Vitamins" %>


<div class="vitamins">
  <% for vitamin in @vitamins %>
    <div class="youtube">
      <span class="thumb"><%= vitamin.video_url %></span>
      <%= link_to vitamin.name, vitamin, :class => "video" %>
    </div>
  <% end %>
</div>


<p><%= link_to "New Vitamin", new_vitamin_path %></p>
