<% title "Editando Categoía: #{@forum_category.name}" %>

<%= render 'form' %>

<p>
  <%= link_to "Volver sin guardar", @forum_category %> |
  <%= link_to "Volver al club de lectores", forum_categories_path %>
</p>
