<% title "Club de lectores" %>

<% if can? :create, ForumCategory %>
<div class="actions">
  <%= link_to "Crear categoría", new_forum_category_path %>
</div>
<% end %>

<div id="club-lectores">
  <%= render @forum_categories %>
</div>
