<% title "Forum Category" %>

<p>
  <strong>Name:</strong>
  <%= @forum_category.name %>
</p>

<p>
  <%= link_to "Edit", edit_forum_category_path(@forum_category) %> |
  <%= link_to "Destroy", @forum_category, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", forum_categories_path %>
</p>
