body {
  background-color: #FFF;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
}
#header{
  width: 960px;
  height: 104px;
  background-image:url('/images/layout/bg_header.jpg');
}
#logo{
  padding: 7px 10px;
  background: transparent url("/images/layout/logo.png") no-repeat 7px 10px;
  text-indent: -999999em;
  width: 140px;
}

#logo a{
  display: block;
  height: 85px;
}

#nav-menu {
  width: 100%;
  display: block; 
  height:36px;
  background: transparent url('/images/layout/bg_menu.jpg') bottom left repeat-x;
}

#nav-menu ul {
  list-style: none;
  margin: 0 auto;
}

#nav-menu li {
  float: left;
  margin: 0 0.15em;
  padding: 0px 40px;
}

#nav-menu li a
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
  color:#FFF;
  display: block;
  border-width: 0px;
  border-style: none;
  text-decoration: none;
  padding-top:5px;
}


#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}


/* OVERLAY DIVS */
#overlay {
  height:450px;
  width: 600px;
  position: relative;
  display: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
  height:400px;
  width: 100%;
  padding: 0px 20px 0px;
  overflow-y:auto;
  overflow-x:hidden;
  background: #FFF;
}

/* ######################################## OVERLAY STYLES */
div#overlay .close {background-image:url("/images/close.png"); cursor:pointer; height:35px; position:absolute; right:-15px; top:15px; width:35px;}
div#navigation ul {padding: 0; margin: 0; list-style: none;}
div#navigation ul li {float: left; padding: 0 10px; margin: 0;}


/* ######################################## YOUTUBE PLAYER STYLES */
.video-player { margin: 20px; width: 640px; }
.video-controls { 
  background: #dedede; 
  height: 30px;
  margin: -4px 0 0;
  position: relative;
  width: 640px;
}
.status { height: 20px; left: 30px; position: absolute; top: 5px; width: 455px; }
.bar { background: #a4a4a4; height: 10px; position: relative; top: 5px; }
.loaded { background: #bbb; height: 10px; left: 0; position: absolute; top: 0; }
.indicator { background: #212121; display: block; height: 10px; left: 0; position: absolute; top: 0; width: 20px; }
.play-pause, .volume { 
  background: url(images/btn-controls.png) no-repeat ;
  display: block;
  height: 20px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 20px;
}
.play-pause { left: 5px; }
.playing { background-position: 0 -20px; }
.volume { background-position: 0 -60px; right: 130px; }
.muted { background-position: 0 -40px; }
.view-youtube { 
  color: #000;
  display: block; 
  float: right; 
  font-size: 9px; 
  line-height: 30px;
  padding: 0 5px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}