*{outline: none;}

body {
  background-color: #FFF;
  font-family: "Trebuchet MS",Helvetica,Arial;
  font-size: 12px;
  margin:0;
  background-image:url('/images/layout/pattern.gif');
}
a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.line-separator{
  color: #FFFFFF;
  font-family: Arial;
  font-size: 10px;
}

.bordered {border: 1px solid #000;}

.notifications{color: #FFF; text-align: center; position: fixed; background: rgba(49,117,138,0.8); width: 100%; height: 25px; padding-top: 10px;}
.notifications a {color: #CCC; text-decoration: none; text-shadow: 1px 1px 1px rgba(0,0,0,0.5);}
.notifications a.hide-not{padding-left: 30px; }

#container {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  overflow: hidden;
  -moz-box-shadow: 0 0 20px 2px gray;
  -webkit-box-shadow: 0 0 20px 2px gray;
  box-shadow: 0 0 20px 2px gray;
}
#header{
  width: 960px;
  height: 104px;
  background-image:url('/images/layout/bg_header.jpg');
}
#logo{
  padding: 7px 10px;
  background: transparent url("/images/layout/logo.png") no-repeat 7px 10px;
  text-indent: -999999em;
  width: 140px;
}

#logo a{
  display: block;
  height: 85px;
}

#nav-menu {
  width: 100%;
  display: block; 
  height:36px;
  background: transparent url('/images/layout/bg_menu.jpg') bottom left repeat-x;
}

#nav-menu ul {
  list-style: none;
  margin: 0 auto;
}

#nav-menu li {
  float: left;
  padding: 0px 21px;
}

#nav-menu li a
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:12px;
  color:#FFF;
  display: block;
  border-width: 0px;
  border-style: none;
  text-decoration: none;
  padding-top:5px;
}
#nav-menu li a:hover
{
  color:#999999;
}
.separator{
  margin-top:4px;
  color: #337A8F;
  font-family: "Trebuchet MS";
  font-size: 13px;
}

#current-poll{
  color: #1F4A57; 
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; 
  font-weight: normal; 
  font-size: 13px;
}

.alert, #flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

.left             { float: left; }
.rleft, .leftr    { float: left; margin-left: 20px; }
.right            { float: right; }
.lright, .rightl  { float: right; margin-right: 20px; }

h1,h2,h3,h4,h5,h6 {font-family: Georgia, Verdana, Helvetica; font-weight: normal;}

h1{color: #1F4A57;}

/* ######################################## INDEX STYLES */

div#login_form_home label{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  color:#FFF;
}
div#login_form_sidebar label{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  color:#8c8c8c;
}

#login{
  width: 280px; float: right; height: 270px;
  background: #C7B472 url(/images/layout/backlogin.jpg) bottom left no-repeat;
}

.btn{
  background: none repeat scroll 0 0 #DDDDDD;
  cursor: pointer;
  display: block;
  padding: 2px 0;
  text-align: center;
  width: 80px;
}

input{
  background: none repeat scroll 0 0 #FFF !important;
  border: 1px solid #8F8F8F;
  color: #8F8F8F;
}

label{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:13px;
  color:#8F8F8F;
  border-style: none;
  text-decoration: none;
  padding-top:5px;
}

.quoted-title{
  height: 59px; color: #FFF; font-family: Georgia; font-size: 20px;
  background: transparent url(/images/layout/imgtitle.png) top right repeat-x;
  text-decoration: none; padding: 10px 10px 0px;
}

.small {font-size: 10px;}

/* ######################################## LAYOUT STYLES */

#main-content {padding-left: 9px; float: left; width: 719px;}

.footer_icons a{ margin-right:5px; }
.eafit_icons a{}

#interesting-links{
  width:300px;
  margin-left:5px;
}

#interesting-links a{
  color: #1F4A57; 
  font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif; 
  font-weight: normal; 
  font-size: 13px;
}

#sidebar { float: left; width: 225px; background-color:#E9E9E9; }
#footer  { height: 150px; background: #F2F2F2; width: 100%; border: 1px solid #CCC; border-left: 0px; border-right: 0px; margin-bottom: 30px; }
#footer .section {width: 310px; }
#footer .section h3 {color: #1F4A57; font-family: Georgia; font-weight: normal; font-size: 18px;}



/* ######################################## INDEX STYLES */
#sub-header {margin-bottom: 3px;}
#perfil {margin: 0 auto;}
#login{width: 280px; float: right; background: #C7B472 url(/images/layout/backlogin.jpg) bottom left no-repeat; height: 270px;}
#current-poll {background: #E9E9E9 url(/images/layout/backencuesta.jpg) bottom left no-repeat; min-height: 250px; margin-bottom:3px;}
#current-poll * ~ div { padding-left: 10px; }

#login #login-dashboard{padding: 0px 10px; margin-top: -10px;}



/* ######################################## OVERLAY STYLES */
#overlay {
  height:450px;
  width: 600px;
  position: relative;
  display: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

/* container for external content. uses vertical scrollbar, if needed */
div.contentWrap {
  height:400px;
  width: 100%;
  padding: 0px 20px 0px;
  overflow-y:auto;
  overflow-x:hidden;
  background: #FFF;
}

div#overlay .close {background-image:url("/images/close.png"); cursor:pointer; height:35px; position:absolute; right:-15px; top:15px; width:35px;}
div#navigation ul {padding: 0; margin: 0; list-style: none;}
div#navigation ul li {float: left; padding: 0 10px; margin: 0;}



/* ######################################## YOUTUBE PLAYER STYLES */
.video-player { margin: 20px; width: 640px; }
.video-controls { 
  background: #dedede; 
  height: 30px;
  margin: -4px 0 0;
  position: relative;
  width: 640px;
}
.status { height: 20px; left: 30px; position: absolute; top: 5px; width: 455px; }
.bar { background: #a4a4a4; height: 10px; position: relative; top: 5px; }
.loaded { background: #bbb; height: 10px; left: 0; position: absolute; top: 0; }
.indicator { background: #212121; display: block; height: 10px; left: 0; position: absolute; top: 0; width: 20px; }
.play-pause, .volume { 
  background: url(images/btn-controls.png) no-repeat ;
  display: block;
  height: 20px;
  overflow: hidden;
  position: absolute;
  text-indent: -9999px;
  top: 5px;
  width: 20px;
}
.play-pause { left: 5px; }
.playing { background-position: 0 -20px; }
.volume { background-position: 0 -60px; right: 130px; }
.muted { background-position: 0 -40px; }
.view-youtube { 
  color: #000;
  display: block; 
  float: right; 
  font-size: 9px; 
  line-height: 30px;
  padding: 0 5px 0 0;
  text-decoration: none;
  text-transform: uppercase;
}



/* ######################################## SMALL BOOK LIST */
.cover {
    width: 135px;
}
.books .book img {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #000000;
    padding: 0.1em;
    text-align: center;
}
a.view-more {
    color: #1F4A57;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
}


.books .book {
      float: left;
      padding: 10px;
      text-align: center;
      width: 150px;
      height: 200px;
}
a.view-more:hover {text-decoration: underline;}




/* ######################################## VITAMINS HOME */
.vitamins {text-align: center; width: 630px; margin: 0 auto;}
.youtube { float: left; margin: 5px; width: 200px; min-height: 180px; text-align: center;}
.youtube h3 {margin: 5px auto; text-align: center;}
.youtube img {text-align: center;}
.youtube span.url { display: none; }
.youtube .thumb { width: 200px; height: 150px; }


/* ######################################## SMALL PROFILE (Sidebar profile) STYLES */
.small-profile                    { min-width: 200px; margin: 0 auto; }
.small-profile div#avatar         { width: 100px; margin: 0 auto; text-align: center; margin-bottom: 15px;}
.small-profile div#login_list     { width: 100%; margin-bottom: 15px; text-align: center;}