<% title "Banner: #{@banner.name}" %>

<div class="actions">
  <% if can? :edit, @banner %>
    <%= link_to "Editar banner", edit_banner_path(@banner) %>
  <% end %>
  
  <% if can? :destroy, @banner %>
    | <%= link_to "Eliminar banner", @banner, :confirm => '¿Está seguro?', :method => :delete %> | 
  <% end %>
  
  <% if can? :index, Banner %>
    <%= link_to "Ver todos los banners", banners_path %>
  <% end %>
</div>

<p>
  <%= image_tag @banner.photo.url(:gallery) %>
</p>
