<div class="small-profile">
  <div id="avatar">
    <%= link_to image_tag(user.avatar.url(:small)), user, :title => "Ir a mi perfíl", :alt => "Ir a mi perfíl" %>
  </div>

  <div id="login_list">
    
    <span><%= link_to "Mi pefil", user %></span>
     | 
    <span><%= link_to "Mis libros", user_books_path(user) %></span>
     | 
    <span><%= link_to "Cerrar sesión", logout_path %></span>
    
  </div>
</div>