<% title "Todos los usuarios" %>

  <div id="todos-usuarios">
    <ul>
      <% for user in @users %>
        <li id="user-list">
          <div class="left"><%= image_tag user.avatar.url(:mini) %></div>
          <div class="rleft">
            <p><strong><%= @user.name %></strong></p>
              <%= link_to "Ver perfil", user %>
          </div>
          <%= clear %>
        </li>
      <% end %>
    </ul>
  </div>
