<% title "Todos los usuarios" %>

  <div id="todos-usuarios">
    <ul>
      <% for user in @users %>
        <li>
          <div class="left"><%= image_tag user.avatar.url(:mini) %></div>
          <div class="rleft">
            <%= user.name %>
            <%= link_to "Ver perfil", user %>
          </div>
          <%= clear %>
        </li>
      <% end %>
    </ul>
  </div>
