<% title "Todos los usuarios" %>

  <div id="todos-usuarios">
    <ul>
      <% for user in @users %>
        <li id="user-list">
          <div class="left avatar"><%= image_tag user.avatar.url %></div>
            <div class="rleft">
              <p><h2><%= user.name %></h2></p>
              <%= link_to "Ver perfil", user %>
            </div>
          <%= clear %>
        </li>
      <% end %>
    </ul>
  </div>
