<div id="sidebar">
  <div class = "quoted-title" id="login-title">
    Perfil
  </div>
	<div id="perfil" style="width: 90%">
	  
	  <% if current_user %>
	    <p>Hola Usuario</p>
  		<div id="foto-perfil"></div>
	  <% else %>
	    <%= render :partial => "user_sessions/small" %>
	  <% end %>
	  
		
	</div>
  
  <div class = "quoted-title" id="login-title">Libros que...</div>
	<div id ="libros-que">
		<ul>
			<li>Espero</li>
			<li>Deseo</li>
			<li>Tengo</li>
			<li>Truequeados</li>
		</ul>
  	</div>
  <div class = "quoted-title" id="login-title">Mis lectores</div>
  <%= clear %>
</div>
<%= clear %>