<% title @page.name, false %>

<h1><%= h @page.name %></h1>

<%= raw(simple_format(@page.content)) %>

<p>
  <%= link_to "Editar", edit_page_path(@page) %> |
  <%= link_to "Eliminar", @page, :confirm => 'Are you sure?', :method => :delete %>
</p>
