<% title @page.name %>

<% if can? :manage, @page %>
<div class="actions">
  <%= link_to "Editar página", edit_page_path(@page) %> | 
  <%= link_to "Administrar páginas", pages_path %> | 
  <%= link_to "Eliminar página", page_path(@page), :method => :delete, :confirm => I18n.t(:"es.mensajes.eliminar_confirmar") %>
</div>
<% end %>

<%= raw(@page.content.to_html) %>


