<div>
  <div class="cover"><%= link_to image_tag(book.photo.url), book %></div>
  <div class="info">
    <p><%= book.title %></p>
    
    <p><%= modal_to "Ver libro", book, :id => "div-id" %> |  <%= link_to "Aceptar trueque", accept_trade_path(@trade, :book_id => book.id), :method => :post %></p>
  </div>
</div>