<div class="book left">
  <div class="cover">
    <%#= modal_to book_image(book_small, :thumb), book_path(book_small, :format => "modal") %>
    <%= link_to book_image(book_small, :thumb), book_path(book_small.to_param) %>
  </div>
  <div class="info">
    <p><%= link_to book_small.title, book_small, :class => "view-more" %></p>
  </div>
</div>