<% if book.traded? %>
  <p>
    Libro no disponible.
  </p>      
<% elsif current_user && current_user.id != book.user_id %>
  <% if can? :trade, book %>
    <p>
      <%= trade_link(book) if book.user != current_user %>
    </p>
  <% end %>
<% end %>