<% if @user %>
  <% title "Todos los libros de #{@user.name}" %>
<% else %>
  <% title "Todos los libros" %>
<% end %>

<div class="actions">
  <% if can? :create, Book %> <%= link_to "Agregar libro", new_book_path %> <% end %>
</div>

<div id="all-books">
  <div class="books">
    <% for book in @books %>
      <%= render :partial => "books/book_small", :locals => {:book_small => book} %>
    <% end %>
  </div>
</div>