<% if @user %>
  <% title "Todos los libros disponibles de #{@user.name}" %>
<% else %>
  <% title "Todos los libros disponibles" %>
<% end %>

<% if can? :create, Book %>
  <div class="actions">
    <%= link_to "Agregar libro", new_book_path %>
  </div>
<% end %>

<div id="all-books">
  <div class="books">
    <% for book in @books %>
      <%= render "books/book_small", :book_small => book %>
    <% end %>
  </div>
</div>