<div class="thread">
  <h4 class="thread-title">
    <%= link_to forum_thread.title, forum_thread_path(forum_thread) %> <br />
    <span> <%= link_to pluralize(forum_thread.comments.size, 'comentario'), forum_thread_path(forum_thread, :anchor => "comments")%> </span>
  </h4>
  
  <%= raw(simple_format(forum_thread.body)) %>
  
</div>
<!-- End of div.thread -->