<div class="book left">
  <div class="cover">
    <%= link_to book_image(trade.received_book, :thumb), trade %>
  </div>
  <div class="info">
    <p><%= link_to trade.received_book.title, trade, :class => "view-more" %></p>
  </div>
</div>