<% title @title || "Libros que me han solicitado" %>

<div class="desc">
  <%= @description %>
</div>

<div id="all-books">
  <div class="books">
    
    <% for trade in @trades %>
      <%= render :partial => "books/book_trade", :locals => {:book => trade.received_book, :trade => trade} %>
    <% end %>
  </div>
</div>