<% title "Libros que me han ofrecido" %>

<div class="desc">
  Estos son los libros míos que alguien quiere. Puedes aceptar o rechazar la petición de trueque.
</div>

<div id="all-books">
  <div class="books">
    
    <% for trade in @trades %>
      <%= render :partial => "books/book_trade", :locals => {:book => trade.received_book, :trade => trade} %>
    <% end %>
  </div>
</div>