<% title "Libros disponibles para cambiar de #{@user.name}" %>

<div id="best-books">
  <div class="books">
  <% for book in @books %>
    <%= render :partial => "books/book_small_trade", :locals => {:book => book} %>
  <% end %>
  </div>
</div>