<div id="best-books">
  <h1>Libros de <%= @user.name %></h1>
  <div class="books">
  <% for book in @books %>
    <%= render :partial => "books/book_small_trade", :locals => {:book => book} %>
  <% end %>
  </div>
</div>