<% title "Trueque ##{@trade.id}" %>

<p>
  <strong>Usuario que inició el trueque:</strong>
  <%= @trade.initiator.name %>
</p>

<p>
  <strong>Libro ofrecido:</strong>
  <%= @trade.book1.name %>
</p>

<p>
  <strong>User2:</strong>
  <%= @trade.receiver.name %>
</p>

<p>
  <strong>Libro requerido:</strong>
  <%= @trade.book2.name %>
</p>